* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "Poppins", sans-serif;
	background-image: linear-gradient(to right, #0095fe 0%, #13ebc9 51%, #0095fe 100%);
}

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 15px 15px;
}
