* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "Poppins", sans-serif;
   background-image: linear-gradient(to right, #0095fe 0%, #13ebc9 51%, #0095fe 100%);
}

.slider {
	width: 1140px;
   height: 830px;
	margin: 40px auto;
	background-color: white;
	box-shadow: 0 0 3px #cccccc;
	overflow: hidden;
}
.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	padding: 15px 15px;
}

.slider input[type="radio"] {
	display: none;
}

.slider-inner {
	display: flex;
	overflow: hidden;
}

.slider-slides {
	display: flex;
	flex-direction: column;
	width: 300%;
	transition: transform 0.8s ease;
}

.slider-slides img {
	float: left;
	max-width: 1140px;
	height: 100%;
	margin-bottom: 10px;
}
.slider-slides p {
   font-size: 40px;
   line-height: 130%;
}
.slider-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.slider-controls {
   display: flex;
   justify-content: flex-end;
   align-items: center;
	float: right;
	width: 50%;
   height: 60px;
   background-color: #ffffff;
	position: relative;
	top: -56px;
   z-index: 1;
}

.slider-controls label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	background-color: #fff;
	border: 4px solid #fff;
	border-radius: 50%;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
	transition: all 0.3s ease;
	cursor: pointer;
}
.slider-controls label:hover {
   border: 4px solid aqua;
   background-color: aqua;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"],
#btn-4:checked ~ .slider-controls label[for="btn-4"] {
	background-color: #666666;
}

#btn-1:checked ~ .slider-inner .slider-slides {
	transform: translate(0);
}

#btn-2:checked ~ .slider-inner .slider-slides {
	transform: translate(-1140px);
}

#btn-3:checked ~ .slider-inner .slider-slides {
	transform: translate(-2280px);
}
#btn-4:checked ~ .slider-inner .slider-slides {
	transform: translate(-3420px);
}


@media (max-width: 720px) {
   .slider-slides img {
      margin-bottom: 30px;
   }
}
@media (max-width: 720px) {
   .slider-controls {
      justify-content: flex-start;
      align-items: flex-start;
      width: 60%;
      height: 80px;
      top: -70px;
   }
   .slider-controls label {
      width: 40px;
      height: 40px;
      margin: 0 10px;
      border: 4px solid black;
   }
}
@media (max-width: 420px) {
   .slider {
      height: auto;
   }
   .slider-slides img {
      margin-bottom: 100px;
   }
   .slider-slides p {
      font-size: 80px;
      padding-top: 20px;
   }
   .slider-controls {
      top: -170px;
  }
  .slider-controls label {
   width: 65%;
   width: 60px;
   height: 60px;
  }
}